*{
    /*테두리와 바깥쪽 여백*/
    margin: 0;
    /*테두리와 콘텐츠 사이의 안쪽 여백*/
    padding: 0;
    /*테두리*/
    border: 0;
    /*폰트크기*/
    font-size: 100%;
    /*폰트 관련 속성을 부모로부터 상속*/
    font :inherit;
    /*인라인 속성들이 배치될때 서로 정렬 기준을 텍스트 기준선으로 결정
    */
    vertical-align: baseline;
}